footer{
    background: var(--color-primary);
    text-align: center;
    padding: 2rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    
}
@media screen and (max-width:600px ) {
     footer{
        width: 100%;
        
     }
    
}